<div id="sidebar-menu" class="main_menu_side hidden-print main_menu" data-th-fragment="sidebar-menu">
    <div class="menu_section">
        <h3>Envanter Yönetimi</h3>
        <ul class="nav side-menu">
            <li><a><i class="fa fa-home"></i> Envanter İşlemleri <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li>
                    	<a class="nav-link active" aria-current="page" th:href="@{/api/envanterler}">Envanter Listesi</a>
                    </li>
                    <li><a href="#index2.html">Ürün Listesi</a></li>
                    <li><a href="#index3.html">Kategori Parametre Girişi</a></li>
                    <li><a href="#index3.html">Depo Parametre Girişi</a></li>
                    <li><a href="#index3.html">Depo - Ürün Girişi</a></li>
                </ul>
            </li>
        </ul>
    </div>

</div>